header {
    background-color: rgb(43, 226, 113);
    display: flex;
}

/* lo dejo para usar despues en el logo.....
color: brown;
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;*/